
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>ViewUser</title>
</head>
<body>
    <div class="container" ng-app="myApp" ng-controller="myCtrl" ng-init="GetUsers();">

        <div class="row p-3">
            <div class="col-md-6">
                <h3>View User</h3>
            </div>
            <div class="col-md-6">
                <a href="/User/AddUser" class="btn btn-outline-info">Add User</a>
            </div>
        </div>

        <!--ng-init  == Page load  => Hit this function  === GetUsers()-->
        <table border="1" class="table table-striped">
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="a in UserList">
                <td>
                    <input type="text" ng-model="a.UserName" />
                    <!--{{a.UserName}}-->
                </td>
                <td>{{a.Email}}</td>
                <td>{{a.Mobile}}</td>
                <td>
                    <input type="checkbox" ng-model="a.IsActive" />
                    @*{{a.IsActive}}*@ <!-- @*Comment in cshtml *@-->
                </td>
                <td>
                    <input type="button" value="Edit" class="btn btn-info btn-sm" ng-click="EditUser(a);" />
                    <input type="button" value="Del" class="btn btn-danger btn-sm" />
                </td>
            </tr>
        </table>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/CRUDJs.js"></script>
</body>
</html>
